section {
  width: 500px;
  height: 500px;
  background-color: #ff00ff;
}

#rbga {
  width: 50%;
  height: 50%;
  /* opacity with rgba and hex - examples but rgba is a little easier to
  and understand what level it is.*/
  background-color: rgba(255, 255, 255, 0.5);
  /* background-color: #00cca060; */
}

#opacity {
  width: 50%;
  height: 50%;
  background-color:rgb(255, 255, 0);
  opacity: 0.3;
}