body {
  font-family: Tahoma, Arial, sans-serif;
  background-color: burlywood;
}

h1 {
  color: black;
  font: 40px Garamond, Helvetica, serif;
  text-align: center;
  font-weight: 900;
}

table {
  width: 100%;
  color: black;
}

thead {
  text-align: left;
  text-decoration: underline;
  color: black;
  background-color: rgb(197, 94, 111);
  
}

label {
  display: inline;
}

#submit-btn {
  display: block;
  background-color: rgb(197, 94, 111);
  margin-top: 10px;
}

.menu {
  border: 5px double  rgb(197, 94, 111);
  margin: 0 0 10px;
  padding: 0 0 10px 10px;
}

.review {
  border: 5px double rgb(197, 94, 111);
  margin: 0 0 10px;
  padding: 0 0 10px 10px;
}
section {
  border: 5px double  rgb(197, 94, 111);
  margin: 0 0 10px;
  padding: 0 0 10px 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

address {
  font-weight: 700;
}

textarea {
  margin-bottom: 10px;
}
